nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  height: 0.8in;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.detailcontainer {
  display: flex;
  margin: 10px;
}
.icon {
  width: 10%;
}
.name {
  width: 40%;
}
.value {
  width: 50%;
}
.stat_container {
  margin: 20px;
}

.user_stats {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50);
  transform: translate(-50%, -50%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.733);
}
.user_stats1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50);
  transform: translate(-50%, -50%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.733);
}
.notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex; /* Allows positioning of bell icon and text side-by-side */
  align-items: center;
  background-color: #ffffff00;
  color: #000000;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.101);
  opacity: 0;
  transition: opacity 0.3s ease;
  max-width: 8in;
  z-index: 1000;
}

/* Bell icon within the notification */
.notification-bell {
  font-size: 24px;
  color: #000000; /* Distinct color for the bell icon */
  margin-right: 10px; /* Space between bell icon and text */
  animation: shake 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

/* Show notification */
.notification.show {
  opacity: 1;
}

.clock-container {
  display: inline-block;
  animation: shake 0.5s infinite;
  margin-top: 10px;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

.pro-card {
  width: 2.5in;
  height: max-content;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.step {
  margin-bottom: 20px;
}
.method {
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
}
.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.home_image {
  border-radius: 30px;
}
.image_div {
  padding: 10px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
  margin: 5px;
}

.navbar-text {
  color: #000000;
  padding: 10px;
}

.navbar-items {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px; /* Adjust this based on your navbar height */
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
